Source: ros-jazzy-turtlebot3-yolo-object-detection
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-jazzy-turtlebot3-yolo-object-detection
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-jazzy-compressed-image-transport, ros-jazzy-cv-bridge, ros-jazzy-image-transport, ros-jazzy-rclpy, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: YOLO-based object detection for TurtleBot3
